@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}

/* header section style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  list-style: none;
}
nav li {
  margin-right: 30px;
  font-size: 18px;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
.nav-title {
  color: #131313;
  font-size: 45px;
}

/* banner section style */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: 100px;
}
.banner-description {
  color: #727272;
  font-size: 1rem;
  margin-bottom: 20px;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  border: none;
  padding: 20px 25px;
  margin-bottom: 50px;
}
