@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style */

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.text-light-gray {
  color: #727272;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  border: none;
  padding: 20px 25px;
  margin-bottom: 50px;
  cursor: pointer;
}
.section-title {
  color: #131313;
  font-size: 45px;
}

/* header section style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  margin-bottom: 85px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  list-style: none;
}
nav li {
  margin-right: 30px;
  font-size: 18px;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner section style */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: 100px;
}
.text-light-gray {
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
}

/* main section style */

main {
  max-width: 1440px;
  margin: 0 auto;
}

.teams-container {
  display: flex;
  align-items: center;
  gap: 76px;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 130px;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title {
  margin-bottom: 24px;
  font-size: 3rem;
  color: #727272;
}
.teams-description {
  margin-bottom: 32px;
}
.text-light-gray {
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-weight: 700;
}

/* facts section style*/

.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.section-title {
  margin-bottom: 24px;
}

.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 30px;
  margin-bottom: 180px;
  margin-top: 100px;
}
.card-stats {
  font-size: 2.8rem;
  color: #424242;
}
.card-title {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* sponsors style */

.sponsors {
  text-align: center;
}

.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 40px;
  align-items: center;
}

.sponsors-img-container img {
  width: 165px;
}
.section-title {
  margin-bottom: 24px;
}

/* responsive style  */

/* mobile device */

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
    gap: 20px;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
  .card {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container,
  .sponsors-img-container {
    flex-direction: column;
    gap: 50px;
  }
}

/* medium device */

@media screen and (min-width: 992px) and (max-width: 1024px) {
  header {
    padding: 80px;
  }
  nav,
  .teams-container {
    flex-direction: column;
    gap: 50px;
  }
}
